In [1]:
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
xml_path = '/Users/toby/Documents/ACADEMIC_Northeastern/2021_fall/CS 5200 database/Practicum_II/pubmed_sample.xml'

In [3]:
with open(xml_path) as file:
    soup = BeautifulSoup(file, "html.parser")

In [4]:
articles = soup.find_all("pubmedarticle")
print(type(articles))
print(dir(articles))
print(len(articles))

<class 'bs4.element.ResultSet'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort', 'source']
19

In [5]:
# print(articles[0])
articles[0].find_all("journal")

[<journal>
 <issn issntype="Print">1556-3316</issn>
 <journalissue citedmedium="Print">
 <volume>8</volume>
 <issue>2</issue>
 <pubdate>
 <year>2012</year>
 <month>Jul</month>
 </pubdate>
 </journalissue>
 <title>HSS journal : the musculoskeletal journal of Hospital for Special Surgery</title>
 <isoabbreviation>HSS J</isoabbreviation>
 </journal>]

In [6]:
medlinecitation = articles[0].find("medlinecitation")
print(len(medlinecitation))
# print(dir(medlinecitation))
pmid = medlinecitation.find_all("pmid")[0]
print(pmid, pmid["version"], pmid.text)
# medlinecitation['owner']
date_created = medlinecitation.find("datecreated")
print(date_created.text)

17
<pmid version="1">23874253</pmid> 1 23874253

2013
07
22

In [7]:
date_created.text.replace("\n", " ").strip()
article = medlinecitation.find("article")
article

<article pubmodel="Print-Electronic">
<journal>
<issn issntype="Print">1556-3316</issn>
<journalissue citedmedium="Print">
<volume>8</volume>
<issue>2</issue>
<pubdate>
<year>2012</year>
<month>Jul</month>
</pubdate>
</journalissue>
<title>HSS journal : the musculoskeletal journal of Hospital for Special Surgery</title>
<isoabbreviation>HSS J</isoabbreviation>
</journal>
<articletitle>Regional anesthesia for children undergoing orthopedic ambulatory surgeries in the United States, 1996-2006.</articletitle>
<pagination>
<medlinepgn>133-6</medlinepgn>
</pagination>
<elocationid eidtype="doi" validyn="Y">10.1007/s11420-012-9278-8</elocationid>
<abstract>
<abstracttext label="BACKGROUND" nlmcategory="BACKGROUND">Our objective was to evaluate national trends in regional anesthetic techniques among children undergoing ambulatory orthopedic procedures.</abstracttext>
<abstracttext label="PURPOSE AND QUESTIONS" nlmcategory="UNASSIGNED">We aimed to determine whether an increase in regional anesthetics was primarily driven by an increase in the number of peripheral nerve blocks performed rather than an increase in neuraxial techniques. We further aimed to determine whether the proportion of peripheral nerve blocks performed in conjunction with general anesthesia has increased over time.</abstracttext>
<abstracttext label="PATIENTS AND METHODS" nlmcategory="METHODS">Our study sample included any pediatric patient (i.e., &lt;18 years old) who underwent an orthopedic ambulatory procedure in 1996 and 2006. We obtained data on ambulatory surgical procedures by accessing the Centers for Disease Control and Prevention's National Survey of Ambulatory Surgery. Patient demographics (age, gender), procedure information, and anesthesia-related variables were analyzed for each year.</abstracttext>
<abstracttext label="RESULTS" nlmcategory="RESULTS">The proportion of peripheral nerve blocks performed for ambulatory surgery more than doubled from 1996 (4.4 %) to 2006 (8.1 %). A significantly larger proportion of orthopedic procedures were being performed with a combination of peripheral nerve blocks and general anesthesia (1.2 % in 1996 and 43 % 2006). The use of neuraxial anesthesia for lower extremity surgeries decreased over the 10-year period (1.1 and 0.4 % in 1996 and 2006, respectively).</abstracttext>
<abstracttext label="CONCLUSIONS" nlmcategory="CONCLUSIONS">There was a significant increase in the use of peripheral nerve blocks for children undergoing ambulatory orthopedic procedures in the USA, while neuraxial techniques became less common over the 10-year period. The peripheral nerve blocks were frequently performed in conjunction with general anesthesia.</abstracttext>
</abstract>
<authorlist completeyn="Y">
<author validyn="Y">
<lastname>Kuo</lastname>
<forename>Cassie</forename>
<initials>C</initials>
<affiliation>Department of Anesthesiology, Hospital for Special Surgery, 535 East 70th Street, New York, NY 10021 USA.</affiliation>
</author>
<author validyn="Y">
<lastname>Edwards</lastname>
<forename>Alison</forename>
<initials>A</initials>
</author>
<author validyn="Y">
<lastname>Mazumdar</lastname>
<forename>Madhu</forename>
<initials>M</initials>
</author>
<author validyn="Y">
<lastname>Memtsoudis</lastname>
<forename>Stavros G</forename>
<initials>SG</initials>
</author>
</authorlist>
<language>eng</language>
<publicationtypelist>
<publicationtype>Journal Article</publicationtype>
</publicationtypelist>
<articledate datetype="Electronic">
<year>2012</year>
<month>06</month>
<day>20</day>
</articledate>
</article>

In [8]:
articles[0].find("History".lower()).find_all("pubmedpubdate")
# article["PubModel".lower()]

[<pubmedpubdate pubstatus="received">
 <year>2012</year>
 <month>1</month>
 <day>15</day>
 </pubmedpubdate>, <pubmedpubdate pubstatus="accepted">
 <year>2012</year>
 <month>4</month>
 <day>16</day>
 </pubmedpubdate>, <pubmedpubdate pubstatus="epublish">
 <year>2012</year>
 <month>6</month>
 <day>20</day>
 </pubmedpubdate>, <pubmedpubdate pubstatus="entrez">
 <year>2013</year>
 <month>7</month>
 <day>23</day>
 <hour>6</hour>
 <minute>0</minute>
 </pubmedpubdate>, <pubmedpubdate pubstatus="pubmed">
 <year>2013</year>
 <month>7</month>
 <day>23</day>
 <hour>6</hour>
 <minute>0</minute>
 </pubmedpubdate>, <pubmedpubdate pubstatus="medline">
 <year>2013</year>
 <month>7</month>
 <day>23</day>
 <hour>6</hour>
 <minute>1</minute>
 </pubmedpubdate>]

In [9]:
def checkFrequency(bsResultSet, tag):
    """
    Note that bs supports all level tag search,
    so it is find it the tag is nested.
    """
    return len(bsResultSet.find_all(tag.lower()))

# check article article
print([checkFrequency(_, "Article".lower()) for _ in articles]) # 1-on-many PubArticle - history(pubmed)

# check unique medlinecitation
print([checkFrequency(_, "medlinecitation") for _ in articles]) # 1 on 1 PubArticle ~ medlinecitation

# check journal 1-on-1
print([checkFrequency(_, "journal") for _ in articles]) # 1 on 1 PubArticle - journal

# check AbstractText 1-on-many
print([checkFrequency(_, "AbstractText".lower()) for _ in articles])# 1 to many PubArticle - abstractText

# check GrantList
print([checkFrequency(_, "GrantList".lower()) for _ in articles]) # 1 to 0-1 PubArticle - 0 or 1 grantlist

# check History
print([checkFrequency(_, "PubMedPubDate".lower()) for _ in articles]) # 1-on-many PubArticle - history(pubmed)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[5, 4, 4, 4, 4, 5, 1, 4, 5, 9, 6, 1, 4, 1, 6, 4, 4, 4, 6]
[0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[6, 7, 3, 3, 7, 6, 6, 3, 7, 3, 7, 6, 3, 6, 3, 7, 4, 4, 3]

In [10]:
def extractArticleInfo(PubmedArticle):
    """
    Extract XML to json/dictionary might be the best.
    """
    
    # each artcile shall only have one medlinecitation -> abandoned
#     medlinecitation = PubmedArticle.find("medlinecitation")
    
#     date_created = medlinecitation.find("datecreated").replace("\n", " ").strip()
#     date_completed = medlinecitation.find("datecompleted").replace("\n", " ").strip()
#     date_received= medlinecitation.find("datereceived").replace("\n", " ").strip()
    
#     artile = medlinecitation.find("article")
    
#     medlineJournalInfo = medlinecitation.find("medlinejournalinfo")
    
#     medline_info = {
#         "owner": medlinecitation["owner"],
#         "status": medlinecitation["status"],
#         "pmid": pmid.text,
#         "pmid_version": pmid["version"],
#         "date_created": date_created,
#         "date_completed": date_completed,
#         "date_received": date_received,
#     }
    article = PubmedArticle.find("article")
    article_info = {
        "PubModel": article["PubModel".lower()],
        "ArticleTitle": article.find("ArticleTitle".lower()).text,
        "MedlinePgn": article.find("MedlinePgn".lower()).text,
        "Language": article.find("Language".lower()).text,
#         "ArticleDate": article.find("ArticleDate".lower()).text.replace("\n", " ").strip(),
#         "ArticleDate_DateType":article.find("ArticleDate".lower())["datetype"],
        
        "Journal": article.find("journal"),
        
        "History": PubmedArticle.find("History".lower()).find_all("pubmedpubdate"),
        
        "AuthorList": article.find("AuthorList".lower()),
    }
    return article_info

tmp = extractArticleInfo(articles[0])

In [11]:
tmp
df = pd.DataFrame([tmp])
df.head()

,PubModel,ArticleTitle,MedlinePgn,Language,Journal,History,AuthorList
0,Print-Electronic,Regional anesthesia for children undergoing or...,133-6,eng,"[\n, [1556-3316], \n, [\n, [8], \n, [2], \n, [...","[[\n, [2012], \n, [1], \n, [15], \n], [\n, [20...","[\n, [\n, [Kuo], \n, [Cassie], \n, [C], \n, [D..."

In [12]:
df = pd.DataFrame([extractArticleInfo(_) for _ in articles])
df['Article_ID'] = df.index
df.head()

,PubModel,ArticleTitle,MedlinePgn,Language,Journal,History,AuthorList,Article_ID
0,Print-Electronic,Regional anesthesia for children undergoing or...,133-6,eng,"[\n, [1556-3316], \n, [\n, [8], \n, [2], \n, [...","[[\n, [2012], \n, [1], \n, [15], \n], [\n, [20...","[\n, [\n, [Kuo], \n, [Cassie], \n, [C], \n, [D...",0
1,Print-Electronic,Demographics and perioperative outcome in pati...,149-57,eng,"[\n, [1545-7206], \n, [\n, [54], \n, [2], \n, ...","[[\n, [2012], \n, [7], \n, [16], \n], [\n, [20...","[\n, [\n, [Stundner], \n, [Ottokar], \n, [O], ...",1
2,Print,Cerebrovascular reserve and stroke risk in pat...,2884-91,eng,"[\n, [1524-4628], \n, [\n, [43], \n, [11], \n,...","[[\n, [2012], \n, [10], \n, [24], \n, [6], \n,...","[\n, [\n, [Gupta], \n, [Ajay], \n, [A], \n, [D...",2
3,Print,Comparative perioperative outcomes associated ...,638-44,eng,"[\n, [1532-8651], \n, [\n, [37], \n, [6], \n, ...","[[\n, [2012], \n, [10], \n, [20], \n, [6], \n,...","[\n, [\n, [Stundner], \n, [Ottokar], \n, [O], ...",3
4,Print-Electronic,Vagus nerve stimulation vs. corpus callosotomy...,3-8,eng,"[\n, [1532-2688], \n, [\n, [22], \n, [1], \n, ...","[[\n, [2012], \n, [4], \n, [9], \n], [\n, [201...","[\n, [\n, [Lancman], \n, [Guido], \n, [G], \n,...",4

In [13]:
article_df = df[["Article_ID", "PubModel", "ArticleTitle", "MedlinePgn", "Language"]]
article_df.head(2)

,Article_ID,PubModel,ArticleTitle,MedlinePgn,Language
0,0,Print-Electronic,Regional anesthesia for children undergoing or...,133-6,eng
1,1,Print-Electronic,Demographics and perioperative outcome in pati...,149-57,eng

In [14]:
# article_df.to_csv("bigTable.csv")
# article_df[["Article_ID", "PubModel", "ArticleTitle", "MedlinePgn", "Language"]].to_csv("article.csv")

In [15]:
def extractJournalInfo(journal):
    info = {
        "Journal_ISSN": journal.find("issn").text,
        "IssnType": journal.find("issn")['issntype'],
        "CitedMedium": journal.find("journalissue")["citedmedium"],
        "Volume": journal.find("volume").text,
        "Issue": journal.find("issue").text,
        "PubDate": journal.find("pubdate").text.replace("\n", " ").strip(),
        "Title": journal.find("title").text,
        "ISOAbbreviation": journal.find("isoabbreviation").text
    }
    return info
journal = df.iloc[0]["Journal"]
journal

<journal>
<issn issntype="Print">1556-3316</issn>
<journalissue citedmedium="Print">
<volume>8</volume>
<issue>2</issue>
<pubdate>
<year>2012</year>
<month>Jul</month>
</pubdate>
</journalissue>
<title>HSS journal : the musculoskeletal journal of Hospital for Special Surgery</title>
<isoabbreviation>HSS J</isoabbreviation>
</journal>

In [16]:
journal_df = pd.DataFrame([extractJournalInfo(_) for _ in df["Journal"].tolist()])
journal_df["Journal_ID"] = journal_df.index
journal_df.head(2)

,Journal_ISSN,IssnType,CitedMedium,Volume,Issue,PubDate,Title,ISOAbbreviation,Journal_ID
0,1556-3316,Print,Print,8,2,2012 Jul,HSS journal : the musculoskeletal journal of H...,HSS J,0
1,1545-7206,Electronic,Internet,54,2,2013 Mar-Apr,Psychosomatics,Psychosomatics,1

In [17]:
# journal_df.to_csv("journal.csv")

In [18]:
def extractHistoryInfo(history):
    info = {
        "PubStatus": history["pubstatus"],
        "Year": int(history.find("year").text) if history.find("year") else 0,
        "Month": int(history.find("month").text) if history.find("month") else 0,
        "Day": int(history.find("day").text) if history.find("day") else 0,
        "Hour": int(history.find("hour").text) if history.find("hour") else 0,
        "Minute": int(history.find("minute").text) if history.find("minute") else 0,
        "Second": int(history.find("second").text) if history.find("second") else 0
    }
    return info
history = df.iloc[0]["History"]
history

[<pubmedpubdate pubstatus="received">
 <year>2012</year>
 <month>1</month>
 <day>15</day>
 </pubmedpubdate>, <pubmedpubdate pubstatus="accepted">
 <year>2012</year>
 <month>4</month>
 <day>16</day>
 </pubmedpubdate>, <pubmedpubdate pubstatus="epublish">
 <year>2012</year>
 <month>6</month>
 <day>20</day>
 </pubmedpubdate>, <pubmedpubdate pubstatus="entrez">
 <year>2013</year>
 <month>7</month>
 <day>23</day>
 <hour>6</hour>
 <minute>0</minute>
 </pubmedpubdate>, <pubmedpubdate pubstatus="pubmed">
 <year>2013</year>
 <month>7</month>
 <day>23</day>
 <hour>6</hour>
 <minute>0</minute>
 </pubmedpubdate>, <pubmedpubdate pubstatus="medline">
 <year>2013</year>
 <month>7</month>
 <day>23</day>
 <hour>6</hour>
 <minute>1</minute>
 </pubmedpubdate>]

In [19]:
history_df = pd.DataFrame(columns = ["Article_ID"] + list(extractHistoryInfo(history[0]).keys()))
history_df.head()

Empty DataFrame
Columns: [Article_ID, PubStatus, Year, Month, Day, Hour, Minute, Second]
Index: []

In [20]:
for index, history in enumerate(df["History"].tolist()):
    tmp_df = pd.DataFrame([extractHistoryInfo(_) for _ in history])
    tmp_df["Article_ID"] = index
    history_df = history_df.append(tmp_df)

/Users/toby/anaconda3/envs/py36/lib/python3.6/site-packages/pandas/core/frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [21]:
history_df.reset_index(drop=True, inplace=True)
history_df["History_ID"] = history_df.index
history_df

   Article_ID Day Hour Minute Month PubStatus Second  Year  History_ID
0           0  15    0      0     1  received      0  2012           0
1           0  16    0      0     4  accepted      0  2012           1
2           0  20    0      0     6  epublish      0  2012           2
3           0  23    6      0     7    entrez      0  2013           3
4           0  23    6      0     7    pubmed      0  2013           4
..        ...  ..  ...    ...   ...       ...    ...   ...         ...
89         17  23    6      0     7    pubmed      0  2011          89
90         17  18    6      0     1   medline      0  2013          90
91         18   9    6      0     2    entrez      0  2011          91
92         18   9    6      0     2    pubmed      0  2011          92
93         18  16    6      0    10   medline      0  2012          93

[94 rows x 9 columns]

In [36]:
# history_df[["History_ID", "PubStatus", "Year", "Month", "Day", "Hour", "Minute", "Second"]].to_csv("history.csv")
# history_df[["History_ID", "Article_ID"]].to_csv("ArticleHasHistory.csv")

In [23]:
def extractAuthorInfo(author):
    info = {
        "LastName": author.find("lastname").text,
        "ForeName": author.find("forename").text,
        "Initials": author.find("initials").text,
        "Affiliation": author.find("affiliation").text if author.find("affiliation") else "",
        "ValidYN": author["validyn"]
    }
    return info
author = df.iloc[0]["AuthorList"].find_all("author")
author

[<author validyn="Y">
 <lastname>Kuo</lastname>
 <forename>Cassie</forename>
 <initials>C</initials>
 <affiliation>Department of Anesthesiology, Hospital for Special Surgery, 535 East 70th Street, New York, NY 10021 USA.</affiliation>
 </author>, <author validyn="Y">
 <lastname>Edwards</lastname>
 <forename>Alison</forename>
 <initials>A</initials>
 </author>, <author validyn="Y">
 <lastname>Mazumdar</lastname>
 <forename>Madhu</forename>
 <initials>M</initials>
 </author>, <author validyn="Y">
 <lastname>Memtsoudis</lastname>
 <forename>Stavros G</forename>
 <initials>SG</initials>
 </author>]

In [24]:
print(len(author))
extractAuthorInfo(author[0])

4

{'LastName': 'Kuo',
 'ForeName': 'Cassie',
 'Initials': 'C',
 'Affiliation': 'Department of Anesthesiology, Hospital for Special Surgery, 535 East 70th Street, New York, NY 10021 USA.',
 'ValidYN': 'Y'}

In [50]:
authorList_df = pd.DataFrame(columns = ["Article_ID", "CompleteYN"] + list(extractAuthorInfo(author[0]).keys()))
authorList_df.head()

for index, authors in enumerate(df["AuthorList"].tolist()):
    tmp_df = pd.DataFrame([extractAuthorInfo(_) for _ in authors.find_all("author")])
    tmp_df["Article_ID"] = index
    tmp_df["CompleteYN"] = [authors["completeyn"] for _ in range(len(tmp_df))]
    authorList_df = authorList_df.append(tmp_df)

authorList_df.reset_index(drop=True, inplace=True)
# authorList_df["Author_ID"] = authorList_df.index

# turn "Y" to 1 and "N" to 0
authorList_df["CompleteYN"] = authorList_df["CompleteYN"].apply(lambda row: 1 if row=="Y" else 0)
authorList_df["ValidYN"] = authorList_df["ValidYN"].apply(lambda row: 1 if row=="Y" else 0)

In [51]:
authorList_df

,Affiliation,Article_ID,CompleteYN,ForeName,Initials,LastName,ValidYN
0,"Department of Anesthesiology, Hospital for Spe...",0,1,Cassie,C,Kuo,1
1,,0,1,Alison,A,Edwards,1
2,,0,1,Madhu,M,Mazumdar,1
3,,0,1,Stavros G,SG,Memtsoudis,1
4,"Department of Anesthesiology, Hospital for Spe...",1,1,Ottokar,O,Stundner,1
5,,1,1,Meghan,M,Kirksey,1
6,,1,1,Ya Lin,YL,Chiu,1
7,,1,1,Madhu,M,Mazumdar,1
8,,1,1,Lazaros,L,Poultsides,1
9,,1,1,Peter,P,Gerner,1
10,,1,1,Stavros G,SG,Memtsoudis,1
11,"Department of Radiology, Weill Cornell Medical...",2,1,Ajay,A,Gupta,1
12,,2,1,J Levi,JL,Chazen,1
13,,2,1,Maya,M,Hartman,1
14,,2,1,Diana,D,Delgado,1
15,,2,1,Nikesh,N,Anumula,1
16,,2,1,Huibo,H,Shao,1
17,,2,1,Madhu,M,Mazumdar,1
18,,2,1,Alan Z,AZ,Segal,1
19,,2,1,Hooman,H,Kamel,1
20,,2,1,Dana,D,Leifer,1
21,,2,1,Pina C,PC,Sanelli,1
22,"Department of Anesthesiology, Hospital for Spe...",3,1,Ottokar,O,Stundner,1
23,,3,1,Ya-Lin,YL,Chiu,1
24,,3,1,Xuming,X,Sun,1
25,,3,1,Madhu,M,Mazumdar,1
26,,3,1,Peter,P,Fleischut,1
27,,3,1,Lazaros,L,Poultsides,1
28,,3,1,Peter,P,Gerner,1
29,,3,1,Gerhard,G,Fritsch,1
...,...,...,...,...,...,...,...
106,,15,1,Amy E,AE,Rose,1
107,,15,1,Holly S,HS,Greenwald,1
108,,15,1,Ya-lin,YL,Chiu,1
109,,15,1,Samir S,SS,Taneja,1
110,,15,1,Madhu,M,Mazumdar,1
111,,15,1,Peng,P,Lee,1
112,,15,1,Iman,I,Osman,1
113,"Department of Urology, Weill Medical College o...",16,1,Christopher E,CE,Barbieri,1
114,,16,1,Eugene K,EK,Cha,1
115,,16,1,Thomas F,TF,Chromecki,1
116,,16,1,Allison,A,Dunning,1
117,,16,1,Yair,Y,Lotan,1
118,,16,1,Robert S,RS,Svatek,1
119,,16,1,Douglas S,DS,Scherr,1
120,,16,1,Pierre I,PI,Karakiewicz,1
121,,16,1,Maxine,M,Sun,1
122,,16,1,Madhu,M,Mazumdar,1
123,,16,1,Shahrokh F,SF,Shariat,1
124,"Department of Anesthesiology, Hospital for Spe...",17,1,Stavros G,SG,Memtsoudis,1
125,,17,1,Anna Maria,AM,Bombardieri,1
126,,17,1,Yan,Y,Ma,1
127,,17,1,J Matthias,JM,Walz,1
128,,17,1,Ya Lin,YL,Chiu,1
129,,17,1,Madhu,M,Mazumdar,1
130,"Division of Spine Surgery, Department of Ortho...",18,1,Peter G,PG,Passias,1
131,,18,1,Yan,Y,Ma,1
132,,18,1,Ya Lin,YL,Chiu,1
133,,18,1,Madhu,M,Mazumdar,1
134,,18,1,Federico P,FP,Girardi,1
135,,18,1,Stavros G,SG,Memtsoudis,1

In [42]:
# authorList_df.to_csv("authorList.csv") # NO! dont use this one, use the later one with AuthorID info.

In [52]:
author_df = authorList_df[["LastName", "ForeName", "Initials", "Affiliation", "ValidYN"]].drop_duplicates(subset=["LastName", "ForeName", "Initials"])
author_df.reset_index(drop=True, inplace=True)
author_df["Author_ID"] = author_df.index
author_df.head()

,LastName,ForeName,Initials,Affiliation,ValidYN,Author_ID
0,Kuo,Cassie,C,"Department of Anesthesiology, Hospital for Spe...",1,0
1,Edwards,Alison,A,,1,1
2,Mazumdar,Madhu,M,,1,2
3,Memtsoudis,Stavros G,SG,,1,3
4,Stundner,Ottokar,O,"Department of Anesthesiology, Hospital for Spe...",1,4

In [53]:
len(author_df)

84

In [54]:
# author_df.to_csv("author.csv")

In [55]:
new_authorList_df = pd.merge(authorList_df, author_df[["LastName", "ForeName", "Initials", "Author_ID"]], on=["LastName", "ForeName", "Initials"], how='left')
new_authorList_df

,Affiliation,Article_ID,CompleteYN,ForeName,Initials,LastName,ValidYN,Author_ID
0,"Department of Anesthesiology, Hospital for Spe...",0,1,Cassie,C,Kuo,1,0
1,,0,1,Alison,A,Edwards,1,1
2,,0,1,Madhu,M,Mazumdar,1,2
3,,0,1,Stavros G,SG,Memtsoudis,1,3
4,"Department of Anesthesiology, Hospital for Spe...",1,1,Ottokar,O,Stundner,1,4
5,,1,1,Meghan,M,Kirksey,1,5
6,,1,1,Ya Lin,YL,Chiu,1,6
7,,1,1,Madhu,M,Mazumdar,1,2
8,,1,1,Lazaros,L,Poultsides,1,7
9,,1,1,Peter,P,Gerner,1,8
10,,1,1,Stavros G,SG,Memtsoudis,1,3
11,"Department of Radiology, Weill Cornell Medical...",2,1,Ajay,A,Gupta,1,9
12,,2,1,J Levi,JL,Chazen,1,10
13,,2,1,Maya,M,Hartman,1,11
14,,2,1,Diana,D,Delgado,1,12
15,,2,1,Nikesh,N,Anumula,1,13
16,,2,1,Huibo,H,Shao,1,14
17,,2,1,Madhu,M,Mazumdar,1,2
18,,2,1,Alan Z,AZ,Segal,1,15
19,,2,1,Hooman,H,Kamel,1,16
20,,2,1,Dana,D,Leifer,1,17
21,,2,1,Pina C,PC,Sanelli,1,18
22,"Department of Anesthesiology, Hospital for Spe...",3,1,Ottokar,O,Stundner,1,4
23,,3,1,Ya-Lin,YL,Chiu,1,19
24,,3,1,Xuming,X,Sun,1,20
25,,3,1,Madhu,M,Mazumdar,1,2
26,,3,1,Peter,P,Fleischut,1,21
27,,3,1,Lazaros,L,Poultsides,1,7
28,,3,1,Peter,P,Gerner,1,8
29,,3,1,Gerhard,G,Fritsch,1,22
...,...,...,...,...,...,...,...,...
106,,15,1,Amy E,AE,Rose,1,67
107,,15,1,Holly S,HS,Greenwald,1,68
108,,15,1,Ya-lin,YL,Chiu,1,69
109,,15,1,Samir S,SS,Taneja,1,70
110,,15,1,Madhu,M,Mazumdar,1,2
111,,15,1,Peng,P,Lee,1,71
112,,15,1,Iman,I,Osman,1,58
113,"Department of Urology, Weill Medical College o...",16,1,Christopher E,CE,Barbieri,1,72
114,,16,1,Eugene K,EK,Cha,1,73
115,,16,1,Thomas F,TF,Chromecki,1,74
116,,16,1,Allison,A,Dunning,1,36
117,,16,1,Yair,Y,Lotan,1,75
118,,16,1,Robert S,RS,Svatek,1,76
119,,16,1,Douglas S,DS,Scherr,1,77
120,,16,1,Pierre I,PI,Karakiewicz,1,78
121,,16,1,Maxine,M,Sun,1,79
122,,16,1,Madhu,M,Mazumdar,1,2
123,,16,1,Shahrokh F,SF,Shariat,1,80
124,"Department of Anesthesiology, Hospital for Spe...",17,1,Stavros G,SG,Memtsoudis,1,3
125,,17,1,Anna Maria,AM,Bombardieri,1,81
126,,17,1,Yan,Y,Ma,1,31
127,,17,1,J Matthias,JM,Walz,1,82
128,,17,1,Ya Lin,YL,Chiu,1,6
129,,17,1,Madhu,M,Mazumdar,1,2
130,"Division of Spine Surgery, Department of Ortho...",18,1,Peter G,PG,Passias,1,83
131,,18,1,Yan,Y,Ma,1,31
132,,18,1,Ya Lin,YL,Chiu,1,6
133,,18,1,Madhu,M,Mazumdar,1,2
134,,18,1,Federico P,FP,Girardi,1,63
135,,18,1,Stavros G,SG,Memtsoudis,1,3

In [56]:
new_authorList_df.to_csv("authorList.csv")